---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Grid from '../components/Grid.svelte';
import GridSection from '../components/GridSection.svelte';
import { SITE_TITLE } from '../consts';
import { items } from "../content/wishlist/wishlist.json";

const groupedItems = items.reduce((group, item) => {
	if (!item.category) {
		item.category = "General";
	}
	if (!group[item.category]) {
		group[item.category] = [];
	}
	group[item.category].push(item);
	return group;
}, {});
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} />
	</head>
	<body class="bg-base-100">
		<Header />
		<main class="w-full h-full">
			<Grid>
				{Object.keys(groupedItems).map((category) =>
					<GridSection category={category} items={groupedItems[category]} />
				)}
			</Grid>
		</main>
	</body>
</html>
