<header>
	<nav>
		<h2>
			Liste de souhait de Chad
		</h2>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 1em;
		font-size: 1em;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
